

let <%=complete ? '' : 'in' %>complete<%=type%>Table = new Tabulator("#<%=complete ? '' : 'in' %>complete<%=type%>Table", {
    <%- include ("../partials/tabulatorConfig.ejs") %>
    ajaxURL:"/assignedTasks?type=<%=type%>&complete=<%=complete%>&byUser=<%=byUser%>",
    columns:[ 
    {formatter:"responsiveCollapse", width:50, minWidth:75, hozAlign:"center", resizable:false, headerSort:false},
      {titleFormatter:"buttonTick", headerSort:false, formatter:"tickCross", formatterParams:{crossElement:false},cellClick:function(e, cell){
            <% if(!complete) { %>
              if (document.getElementById("incompleteAssignedTask"+cell.getRow().getIndex())) {
                document.getElementById("incompleteAssignedTask"+cell.getRow().getIndex()).remove();
                var val = new Date(new Date(cell.getRow().getData().dueDate).setHours(new Date(cell.getRow().getData().dueDate).getHours() + 29));
                val < new Date(new Date().setHours(0, 0, 0, 0)) ? cell.getRow().getElement().style.backgroundColor = "#f5beba"
                            : val > new Date(new Date().setHours(23, 59, 59, 0)) ? cell.getRow().getElement().style.backgroundColor = "#c2f2d8" : cell.getRow().getElement().style.backgroundColor = null;
                cell.setValue("false");
              } else {
                $("#incomplete<%=type%>Table").append("<input type='hidden' id='incompleteAssignedTask"+cell.getRow().getIndex()+"' name='assignedTask' value='"+cell.getRow().getIndex()+"'/>");
                cell.getRow().getElement().style.backgroundColor = "#9abcea";
                cell.setValue("true");
              }
            <% } else { %>
                if (document.getElementById("completeAssignedTask"+cell.getRow().getIndex())) {
                  document.getElementById("completeAssignedTask"+cell.getRow().getIndex()).remove();
                  cell.setValue("false");
                } else {
                  $("#complete<%=type%>Table").append("<input type='hidden' id='completeAssignedTask"+cell.getRow().getIndex()+"' name='assignedTask' value='"+cell.getRow().getIndex()+"'/>");
                  cell.setValue("true");
                }
            <% } %>
        }},
      {title:"Assignee", field:"username"},
      {title:"Target", field:"targetName", width:200, widthGrow:3,responsive:1, clickPopup:function(e, cell){
          var data = cell.getRow().getData();
          container = document.createElement("div"),
          contents = "<ul style='padding:0;  margin-top:5px; margin-bottom:0; margin-right:5px;'>";
          contents += "<li><strong>Location:</strong> " + data.locationName + "</li>";
          contents += "<li><strong>Target Type:</strong> " + data.targetTypeName + "</li>";
          contents += "</ul>";

          container.innerHTML = contents;

          return container;
          }
      },
      { title: "Task Information",
        columns: [  
        {title:"Task Type", field:"taskTypeName"},
        {title:"Task", field:"taskName", width:350, widthGrow:3,responsive:0, formatter:function(cell, formatterParams, onRendered){
          return "<strong>" + cell.getValue() + "</strong>"
        }}
      ]},
      { title: "Time Information",
        columns: [ 
          {title:"Frequency", field:"scheduleType"},
          {title:"Due Date", field:"dueDate", width:150, widthGrow:3,responsive:1, formatter:function(cell, formatterParams, onRendered){
                var val = new Date(new Date(cell.getValue()).setHours(new Date(cell.getValue()).getHours() + 29));
                <% if(!complete) { %>
                  val < new Date(new Date().setHours(0, 0, 0, 0)) ? cell.getRow().getElement().style.backgroundColor = "#f5beba"
                   : val > new Date(new Date().setHours(23, 59, 59, 0)) ? cell.getRow().getElement().style.backgroundColor = "#c2f2d8" : '';
                   return val.toString().slice(0, 15);
                <% } else { %>
                  return new Date(val).toString().slice(0, 15);
                <% } %>
          }}
          <% if(type == "APPOINTMENT") { %>
            ,{title:"Time", field:"timeOfDay"}
          <%}%>
      ]}
      <% if(type == "BILL") { %>
        ,{title:"Value", field:"value"}
      <%}%>
      ],
      
      rowFormatter: function(row, e) {
        if (Array.isArray(row.getData().subtasks) && row.getData().subtasks.length > 0) {
          const id = row.getData().id + '<%=type%><%=complete%>';
          var holderEl = document.createElement("div");
          holderEl.setAttribute('class', "subTableHolder");
          var tableEl = document.createElement("div");
          tableEl.setAttribute('class', "subTable");
          tableEl.setAttribute('id', "subTable" + id + "");
          holderEl.appendChild(tableEl);

          row.getElement().appendChild(holderEl);
          var <%=type%><%=complete%>subTable = new Tabulator(tableEl, {
            rowContextMenu: subTableRowMenu,
            layout: "fitColumns",
            data: row.getData().subtasks,
            columns: [   
            {
                title: "Subtasks",
                field: "description",
                cellClick:function(e, cell){
                  e.preventDefault();
                  e.stopPropagation();
                  return false;
              }}
            ]
          });
          <%=type%><%=complete%>subTable.on("tableBuilt", function(){
            $("#subTable" + row.getData().id + '<%=type%><%=complete%>').hide();
          });
        }
      },
    });


    <%=complete ? '' : 'in' %>complete<%=type%>Table.on('rowClick', (e, row) => {
      if (Array.isArray(row.getData().subtasks) && row.getData().subtasks.length > 0) {
        $("#subTable" + row.getData().id + '<%=type%><%=complete%>').toggle();
      }
    });
  
    
  <%- include ("../partials/filterScript.ejs", { id : (complete ? '' : 'in') + 'complete'+type}) %>

  window.addEventListener('resize', function(){
    <%=complete ? '' : 'in' %>complete<%=type%>Table.redraw();
  });